@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
    box-sizing: border-box;
}
.maintitle{
    text-align: center;
    color: #6fff43;
    -webkit-text-stroke: 0.5px black;

}
body{
    background-image: url("imgs/background-img.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #181818;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;

    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}
.userForm {
    width: 90%;
    max-width: 700px;
}
.userForm input {
    width: 100%;
    display: block;

    background-color: rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(91, 172, 30, 0.15);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    color: #6fff43;
    -webkit-text-stroke: 0.3px #2d7717;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
}
.userForm input::placeholder {
    color: #ffffff;
    -webkit-text-stroke: 0.3px #2d7717;
}
.userForm input:focus {
    outline: none;
}
.card {
    max-width: 800px;
    background: rgba(47, 92, 12, 0.38);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(112, 220, 30, 0.15);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
    transition: width 0.5s;
}
.avatar {
    border-radius: 50%;
    background: rgba(41, 90, 4, 0.30);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    border: 10px solid rgba(112, 220, 30, 0.15);
    filter: brightness(1.15);
    height: 150px;
    width: 150px;
}
  
.user-info {
    color: #eee;
    margin-left: 2rem;
}
  
.user-info h2 {
    margin-top: 0;
    text-shadow: 2px 2px rgba(8, 8, 8,0.5);
}
  
.user-info ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}
  
.user-info ul li {
    display: flex;
    align-items: center;
}
  
.user-info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}
  
.repo {
    text-decoration: none;
    color: #fff;

    background: rgba(163, 234, 108, 0.38);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(112, 220, 30, 0.15);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-radius: 20px;
    animation: fadeIn 1s;
}
  
@media (max-width: 500px) {
    .card {
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }
  
    .user-form {
      max-width: 400px;
    }
    .user-info{
        margin-left: 0%;
    }
    .user-info h2, p{
        text-align: center;
    }
    #repos{
        text-align: center;
    }
}
@media(min-width:1075px) {
    body{
        background-size: contain;
        background-color: #181818;
    }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }